
@{
    Layout = null;
}

<h4>Catagories</h4>
<div class="list-group">
    <a href="#" class="list-group-item">
        <i class="fa  fa-dot-circle-o"></i>
        Italian Foods
    </a>
    <a href="#" class="list-group-item">
        <i class="fa  fa-dot-circle-o"></i>
        Traditional Food
    </a>
    <a href="#" class="list-group-item">
        <i class="fa  fa-dot-circle-o"></i>
        Indian Food
    </a>
    <a href="#" class="list-group-item">
        <i class="fa  fa-dot-circle-o"></i>
        Spanish Food
    </a>
    <a href="#" class="list-group-item">
        <i class="fa  fa-dot-circle-o"></i>
        Thai FoodN
    </a>
</div>
