
@{
    Layout = null;
}

<h4>Popular Posts</h4>
<ul class="media-list">
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="~/SiteTempelete/Layout/images/post-img.png" alt="...">
        </a>
        <div class="media-body">
            <a href="" class="media-heading">
                Lorem ipsum dolor
            </a>
            <p>January 10,2014</p>
        </div>
    </li>
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="~/SiteTempelete/Layout/images/post-img-2.png" alt="...">
        </a>
        <div class="media-body">
            <a href="" class="media-heading">
                Mauris blandit aliquet
            </a>
            <p>January 10,2014</p>
        </div>
    </li>
    <li class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="~/SiteTempelete/Layout/images/post-img-3.png" alt="...">
        </a>
        <div class="media-body">
            <a href="" class="media-heading">
                Quisque velit nisi
            </a>
            <p>January 10,2014</p>
        </div>
    </li>
</ul>
